body {
     font-family: arial, sans-serif;
 }
 
 h1 { font-size: 56px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h1 {
		font-size: 36px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h2 { font-size: 44px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h2 {
		font-size: 32px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h3 { font-size: 36px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h3 {
		font-size: 30px !important;
		margin: 0px !important;
	}
 }

 h4 { font-size: 30px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h4 {
		font-size: 26px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h5 { font-size: 22px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	h5 {
		font-size: 18px !important;
		margin: 0px !important;
	}
 }

 .text-gc { 
 	font-size: 34px; line-height: 1; 
 }

 @media screen and (max-width: 1200px) {
	.text-gc {
		font-size: 30px;
	}
 }

  @media screen and (max-width: 600px) {
	.text-gc {
		font-size: 18px;
	}
 }

 @media screen and (max-width: 320px) {
	.text-gc {
		font-size: 16px;
	}
 }

 .text-gcCart { font-size: 20px; line-height: 1!important; }

 @media screen and (max-width: 980px) {
	.text-gcCart {
		font-size: 20px;
	}
 }

 @media screen and (max-width: 320px) {
	.text-gcCart {
		font-size: 15px;
	}
 }
 .text-disc { font-size: 16px; line-height: 1!important; }
 .text-small { font-size: 14px; line-height: 1!important; }
 .text-footer { font-size: 12px; line-height: 1.5!important; }
 .text-xsmall { font-size: 12px; line-height: 1.2!important; }
 .text-options { line-height: 1.2!important; }


 /* Text */
// Contextual colors

.text-huge { font-size: 64px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	.text-huge {
		font-size: 48px !important;
		margin: 0px !important;
	}
 }

.text-white { color: $white !important; }
.text-primary { color: $clprimary !important; }
.text-cl-blue { color: $clblue !important; }
.text-cl-green { color: $clgreen !important; }
.text-cl-light { color: $cllight !important; }
.text-cl-grey { color: $clgrey !important; }


::-webkit-input-placeholder { /* Edge */
  color: $cllight!important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $cllight!important;
}

::placeholder {
  color: $cllight!important;
}

