// Colors

$clean_themeblue: #172a53;

// Theme Colors
$clprimary: #020202 !default;
$clblue:    #0047BB !default;
$clgrey:    #ed1863 !default;
$cllight:   #BEBEBE !default;
$clxlight:  #DDDDDD !default;
$clgreen: 	#48D597;


// Breakpoints (Media Queries)
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

$sxs-max: 320px;
$xs-max:  575px;
$sm-max:  767px;
$md-max:  991px;
$lg-max:  1199px;



// $theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge(
//   (
//     "clprimary":  $clprimary,
//     "clblue":     $clblue,
//     "clgrey":     $clgrey,
//     "cllight":    $cllight,
//     "clgreen":    $clgreen
//   ),
//   $theme-colors
// );
